{% extends 'clothes/base.html' %}

{% block content %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="login-wrapper">
            <div class="login-header-add">
                <div class="login-header__text">Добавление товара</div>
            </div>
            <div class="login-content">
                {% for f in form %}
                <div class="form-group row">
                    <label for="{{ f.id_for_label }}" class="col-sm-2 col-form-label">{{f.label}}</label>
                    {{ f }}
                </div>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                <div class="form-group row">
                    <div class="'col-sm-10'">
                        <button type="submit" class="button-form">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}