{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'clothes/css/styles.css' %}" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'clothes/images/main.ico' %}" type="image/x-icon"/>
    <script src="{% static 'clothes/js/show-more.js' %}"></script>

    {% block styles %}
    {% endblock %}
</head>
<body>
{% block header %}
<div class="header">
    <ul id="mainmenu" class="mainmenu">
        <li class="logo"><a href="{% url 'home' %}">
            <div class="logo"></div>
        </a></li>
        {% for m in menu %}
        {% if m.title == gender_selected %}
        <li class="gender-selected">{{m.title}}</li>
        {% else %}
        <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
        {% endif %}
        {% endfor %}
        <li class="last">
            <span class="cart-icon">
                    <a class="fa fa-heart-o" href="#"></a>
            </span>
            <span class="cart-icon">
                <span class="null">
                    <span class="cart-counter">{{ total_items }}</span>
                </span>
                    <a class="fa fa-shopping-basket" href="{% url 'cart:cart_detail' %}"></a>
            </span>
            {% if request.user.is_authenticated %}
            {{user.username}} | <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
            <a href="{% url 'register' %}">Регистрация</a>| <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </li>
        <li>
            <div class="search-box">
                <form name="search" action="{% url 'home' %}">
                    <button class="btn-search"><i class="fa fa-search"></i></button>
                    <input type="text" class="input-search" placeholder="Поиск..." name="search">
                </form>
            </div>
        </li>
    </ul>
</div>
{% endblock header %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <!-- Sidebar слева -->
        <td valign="top" class="left-chapters">
            <ul id="leftchapters">
                {% for c in cats %}
                {% if c.clothes__count > 0 %}
                {% if c.pk == cat_selected %}
                <li class="selected">{{c.category_name}}</li>
                {% for sc in subcats %}
                {% if sc.category_id == c.pk %}
                {% if sc.pk == subcat_selected %}
                <li class="subselected">{{sc.subcategory_name}}</li>
                {% else %}
                <li><a class="subcat" href="{{ sc.get_absolute_url }}">{{sc.subcategory_name}}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}

                {% else %}
                <li><a href="{{ c.get_absolute_url }}">{{c.category_name}}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </td>
        <!-- Конец Sidebar'а -->
        <td valign="top" class="content">
            <!-- Хлебные крошки -->
            {% block breadcrumbs %}
            {% endblock %}

            <!-- Блок контента -->
            {% if search_count > 0%}
            <h1>
                <span class="search_request"> Вот что мы нашли по запросу «{{search_request}}»</span>
                <span class="search_count"> - {{ search_count }}</span>
            </h1>
            {% elif search_request %}
            <h1>
                <span class="search_request"> По запросу «{{search_request}}» ничего не найдено!</span>
            </h1>
            {% endif %}
            {% block content %}
            {% endblock %}

        </td>
    </tr>
</table>

<!-- Footer -->
<footer class="footer-distributed">

    <div class="footer-right">

        <a href="https://vk.com/lex_faesinop"><i class="fa fa-vk"></i></a>
        <a href="https://t.me/A1exander7"><i class="fa fa-telegram"></i></a>
        <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/FaEsinoP"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" href="{% url 'home' %}">Home</a>

            <a href="{% url 'about' %}">About</a>

            <a href="{% url 'faq' %}">Faq</a>

        </p>

        <p>VayLares &copy; 2022</p>
    </div>

</footer>
<!-- Конец footer'а и страницы -->
</body>
</html>
