{% load static %}
{% load clothes_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'clothes/css/styles.css' %}" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
</head>

<body>
{% block header %}
<div class="header">
    <ul id="mainmenu" class="mainmenu">
        <li class="logo"><a href="{% url 'home' %}">
            <div class="logo"></div>
        </a></li>
        {% for m in menu %}
        {% if not forloop.last %}
        <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
        {% else %}
        <li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <div class="clear"></div>
</div>
{% endblock header %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <!-- Sidebar слева -->
        <td valign="top" class="left-chapters">
            <ul id="leftchapters">
                {% if cat_selected == 0 %}
                <li class="selected">Все категории</li>
                {% else %}
                <li><a href="{% url 'home' %}">Все категории</a></li>
                {% endif %}

                {% for c in cats %}
                {% if c.clothes__count > 0 %}
                {% if c.pk == cat_selected %}
                <li class="selected">{{c.category_name}}</li>
                {% else %}
                <li><a href="{{ c.get_absolute_url }}">{{c.category_name}}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </td>
        <!-- Конец Sidebar'а -->
        <td valign="top" class="content">
            <!-- Хлебные крошки -->
            {% block breadcrumbs %}
            {% endblock %}

            <!-- Блок контента -->

            {% block content %}
            {% endblock %}
        </td>
    </tr>
</table>

<!-- Footer -->
<footer class="footer-distributed">

    <div class="footer-right">

        <a href="https://vk.com/lex_faesinop"><i class="fa fa-vk"></i></a>
        <a href="https://t.me/A1exander7"><i class="fa fa-telegram"></i></a>
        <a href="#"><i class="fa fa-mm"></i></a>
        <a href="https://github.com/FaEsinoP"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" href="{% url 'home' %}">Home</a>

            <a href="{% url 'about' %}">About</a>

            <a href="{% url 'faq' %}">Faq</a>

        </p>

        <p>VayLares &copy; 2022</p>
    </div>

</footer>
<!-- Конец footer'а и страницы -->
</body>
</html>
