{% extends 'clothes/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<div class="box">
    <div class="faqs">
        <details>
            <summary>Какие есть способы получения?</summary>
            <p class="text">Ты можешь воспользоваться доставкой, забрать свой заказ в одном из магазинов или получить его
                в Пункте Выдачи</p>
        </details>
        <details>
            <summary>Какие сейчас действуют бонусные программы?</summary>
            <p class="text">В VayLares бонусные программы обновляются каждый месяц. Для получения актуальной информации
                напиши нам в Telegram.</p>
        </details>
        <details>
            <summary>Можно ли вернуть или обменять товар?</summary>
            <p class="text">Ты всегда можешь вернуть или обменять купленный товар в одном из магазинов нашей сети.</p>
        </details>
        <details>
            <summary>Как можно дать обратную связь?</summary>
            <p class="text">Если хочешь поблагодарить наших сотрудников или, наоборот, обратить внимание на недостатки,
                напиши нам. Контакты указаны в разделе "About"</p>
        </details>
    </div>
</div>
{% endblock content %}