{% extends 'clothes/base.html' %}
{% block content %}
<div class="flex-container">
    {% for g in goods %}
    <div class="product-flex-item">
        {% if g.photo %}
        <a class="img-article thumb" href="{{g.get_absolute_url}}"><img src="{{g.photo.url}}"></a>
        {% endif %}
        <h3>{{g.price}} ₽</h3>
        <p>{{g.brand}} {{g.title}}</p>
    </div>
    {% endfor %}
</div>
    <div class="btn-center">
        <button class="show-more" style="display:none">Показать ещё</button>
    </div>
{% endblock content %}