{% load static %}
<link type="text/css" href="{% static 'clothes/css/login.css' %}" rel="stylesheet"/>


<title>{{title}}</title>

{% if form.non_field_errors %}
<label>
    <input type="checkbox" class="alertCheckbox" autocomplete="off"/>
    <div class="alert error" role="alert">
        <span class="alertClose"><b>x</b></span>
        <span class="alertText">{{ form.non_field_errors}}
        <br class="clear"/></span>
    </div>
</label>
{% endif %}

{% if newpass %}
<label>
    <input type="checkbox" class="alertCheckbox" autocomplete="off"/>
    <div class="alert success" style="height: 50px" role="alert">
        <span class="alertClose" style="padding-top: 0"><b>x</b></span>
        <span class="alertText">Пароль успешно изменен!
            <br class="clear"/></span>
    </div>
</label>
{% endif %}

<form method="post">
    {% csrf_token %}
    <a href="{% url 'home' %}">
        <div class="logo"></div>
    </a>
    <h3>Авторизация</h3>
    <label for="username">Логин</label>
    <input type="text" placeholder="Логин" id="username" name="username">

    <label for="password">Пароль</label>
    <input type="password" placeholder="Пароль" id="password" name="password">
    <div class="have">
        <a href="{% url 'reset_password' %}">Забыли пароль?</a>
    </div>

    <button type="submit">Войти</button>

    <div class="create">
        Впервые здесь? <a href="{% url 'register' %}">Создать аккаунт.</a>
    </div>
</form>