{% extends 'clothes/base.html' %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="login-wrapper">
            <div class="login-header">
                <div class="login-header__text">Авторизация</div>
            </div>
            <div class="login-content">
                <div class="form-error">{{ form.non_field_errors }}</div>
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">Логин</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="username" name="username" placeholder="Введите логин">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Пароль</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Введите пароль">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="'col-sm-10'">
                        <button type="submit" class="button-form">Войти</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}