{% extends 'clothes/base.html' %}
{% block content %}
<h1>Привет, {{request.user.username}}!</h1>
<div class="profile-flex-container">
    <a href="{% url 'profile' %}" class="profile-item1">Профиль</a>
    <div class="profile-item2-selected">Заказы</div>
</div>

<h3>История заказов</h3>
{% for order, clothes in orders.items %}
<div class="order">
    <div class="order-title">Заказ от {{order.time_create}}</div>
    {% for soc in clothes %}
    {% for ooc in ord_of_clothes %}
    {% if ooc.id_order.id == order.id and ooc.id_clothes_with_size.id == soc.id %}
    <div> {{soc}}, {{ooc.count}} шт. </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <div> Итого: <b>{{ order.total_price }} ₽</b> Статус: <b style="color: #dcb518">{{order.status}}</b> </div>
</div>
{% endfor %}
<a href="{% url 'logout' %}" class="logout">Выйти</a>
{% endblock content %}