{% load static %}
<link type="text/css" href="{% static 'clothes/css/login.css' %}" rel="stylesheet"/>


<title>{{title}}</title>

{% if form.non_field_errors %}
<label>
    <input type="checkbox" class="alertCheckbox" autocomplete="off"/>
    <div class="alert error" role="alert">
        <span class="alertClose"><b>x</b></span>
        <span class="alertText">{{ form.non_field_errors}}
        <br class="clear"/></span>
    </div>
</label>
{% endif %}

<form method="post" style="height: 350px">
    {% csrf_token %}
    <a href="{% url 'home' %}">
        <div class="logo"></div>
    </a>
    <h3>Сброс пароля</h3>
    <label for="email">Email-адрес</label>
    <input type="text" placeholder="Введите Email-адрес" id="email" name="email">

    <button type="submit">Отправить</button>
</form>