{% extends 'clothes/base.html' %}
{% load static %}
{% block content %}
<h1>ПРОФИЛЬ</h1>
<div class="profile-flex-container">
    <div class="profile-item1-selected">Профиль</div>
    <a href="{% url 'orders' %}" class="profile-item2">Заказы</a>
</div>
<div class="container">
    <div class="form-group row">
        <div class="avatar">
            <div class="avatar-container avatar-size">
                <img class="avatar-img"
                     src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'clothes/images/default-avatar.jpeg' %} {% endif %}">
            </div>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="login-wrapper">
            <div class="login-content">
                <div class="form-group row">
                    <div class="form-group">
                        <label for="{{ form.first_name.id_for_label }}" class="text-field__label">Имя</label>
                        {{ form.first_name }}
                    </div>
                    <div>
                        <label for="{{ form.last_name.id_for_label }}" class="text-field__label">Фамилия</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group row">
                    <div>
                        <label for="inputUsername" class="text-field__label">Имя пользователя</label>
                        {{ form.username }}
                    </div>
                    <div>
                        <label for="inputEmail" class="text-field__label">Email-адрес</label>
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group row">
                    <div>
                        <label for="{{ form.gender.id_for_label }}" class="text-field__label">Пол</label>
                        {{ form.gender }}
                    </div>
                    <label class="input-file">
                        <input type="file" name="image" accept="image/*" id="id_imgage" class="custom-file-input">
                        <span>Загрузить изображение</span>
                    </label>
                </div>
                <div class="form-group row">
                    <div>
                        <button type="submit" class="button-form">Сохранить</button>
                    </div>
                </div>

                <div class="form-error">{{form.errors}}</div>

            </div>
        </div>
    </form>
</div>

<a href="{% url 'logout' %}" class="logout">Выйти</a>
{% endblock content %}
