{% load static %}
<link type="text/css" href="{% static 'clothes/css/login.css' %}" rel="stylesheet"/>


<title>{{title}}</title>

{% if form.errors %}
<label>
    <input type="checkbox" class="alertCheckbox" autocomplete="off"/>
    <div class="alert error" role="alert">
        <span class="alertClose"><b>x</b></span>
        <span class="alertText">{{ form.errors}}
        <br class="clear"/></span>
    </div>
</label>
{% endif %}

<form method="post" style="height: 600px;">
    {% csrf_token %}

    <a href="{% url 'home' %}">
        <div class="logo"></div>
    </a>

    <h3>Регистрация</h3>

    <label for="username">Логин</label>
    <input type="text" placeholder="Логин" id="username" name="username">

    <label for="password1">Пароль</label>
    <input type="password" placeholder="Пароль" id="password1" name="password1">

    <label for="password2">Повтор пароль</label>
    <input type="password" placeholder="Повтор пароль" id="password2" name="password2">

    <div style="margin-top: 20px">
        Уже есть аккаунт? <a href="{% url 'login' %}">Войти.</a>
    </div>
    <button class="button-login" type="submit">Зарегистрироваться</button>
</form>