* {
   box-sizing: border-box;
   margin:0;
   padding:0;
}

html{
  height: 100%;
}


body {
  margin: 0;
  /* Растягиваем body по высоте html */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}


.content {
    width:100%;
	padding: 40px 20px 20px 40px;
	padding-bottom: 90px;
}


.header {
	background: #33383b;
	height: 60px;
}

ul.mainmenu:after {
  content: "";
  display: table;
  clear: both;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	font-size: 20px;
}
ul.mainmenu li {
	float: left;
	position: relative;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.logo {margin: 0;}


.last {
    float: right;
    margin-left: 10px;
    color: #ffffff;
}

.last text{
    text-decoration: underline;
}


ul.mainmenu li a {
	color: #ffffff;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

.mainmenu li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.logo {
	background: url('../images/logo.png') no-repeat 6px 7px;
	width: 230px;
	height: 50px;
}

a{
  text-decoration: none;
  color: black;
}


/* left-side-bar */

.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

ul.content-table {
    width: 100%;
	margin: 0;
	padding: 60px 0 0 30px;
	list-style: none;
	font-family: Sans-serif, Arial, Tahoma;
	font-size: 28px;
}
ul.content-table li {
	margin: 0 0 40px 0;
}
ul.content-table li a {
	color: #BB5715;
	text-decoration: none;
}
ul.content-table li a:hover {color: #F0711C;}

.content-text {
	margin: 60px 0 0 30px;
	color: #000;
	font-size: 20px;
	font-family: Yandex Sans Display Light;
}
.content-text h1 {font-size: 32px;}

h1{
    margin-bottom:10px;
}

.left-chapters {
	margin: 0;
    background: #eee;
	border-right: 0.5px solid #ccc;
	min-height: 100%;
}
.left-chapters ul {
	width: 230px;
	min-height: 100%;
	margin: 0;
	padding: 20px 10px 10px 20px;
	list-style: none;
	font-size: 20px;
}
.left-chapters ul li {
	margin: 30px 0 0 0;
	color: #999;
}
.left-chapters ul li.selected {color: #0059b2; }
.left-chapters ul li.subselected {
	margin-left:20px;
    color: #0059b2;
}
.left-chapters ul li a {
	color: #444;
	text-decoration: none;
}
.left-chapters ul li a:hover { color: #CC0000; }
.left-chapters ul li.share {margin: 60px 0 0 0;}
.left-chapters ul li.share p {margin: 30px 0 30px 0;}
.left-chapters ul li.share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 20px 0 0;
}

ul.lang-list li.selected {color: #fdc073; border-bottom: 1px solid #fdc073;}
ul.lang-list li a {
	color: #eee;
	text-decoration: none;
}

.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}

.gender-selected{
    border-bottom: 1px solid #ffffff;
    display: inline;
    color:#ffffff;
}

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #ccc;
}

.left-chapters ul li a.subcat{
	margin-left:20px;
	text-decoration:
}



/*footer*/



* {
  font-family: Roboto;
}

section {
  width: 1000px;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 15px 25px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}


img {max-width: 150px;}


/* forms without models */
.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
    margin-bottom:15px;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}




/* pagination */

.pagination\:container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: -5%;
  width: 10%;
}

.arrow\:text {
  display: block;
  vertical-align: middle;
  font-size: 13px;
  vertical-align: middle;
}

.pagination\:number {
  --size: 32px;
  --margin: 6px;
  margin: 0 var(--margin);
  border-radius: 6px;
  background: #e0e0e0;
  max-width: auto;
  min-width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
}

.pagination\:active {
  background: #f2f2f2;
  position: relative;
  border: 1px solid #757575
}

.pagination\:container a {
	text-decoration: none;
	text-align: center;
	display: inline-block;  /* Строчно-блочный элемент */
    padding: 5px 6px;      /* Поля вокруг текста */
}


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.flex-container{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
}

.product-flex-item{
    text-align:center;
    flex: 1 0 32%;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.product-flex-item img{
    width:100%;
    height:125x;
    min-width:166.75px;
}

.review-flex-item{
    flex: 1 0 32%;
    align-self: center;
    justify-content: center;
    position: relative;
}

.review-flex-item img{
    width:100%;
    height:250x;
    min-width:333.5px;
    margin-left: 150px;
    margin-bottom: 20px;
}

.review-flex-item h1{
    margin-bottom: 20px;
}

.review-flex-item p{
    margin-bottom: 20px;
}


.add_button {
  margin-top:10px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #0f0368;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.add_button:hover {
  background: #173a87;
}

.add_button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.favour_button{
  margin-left:5px;
  min-width: 30px;
  padding: 8px 10px;
  appearance: none;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
}

.favour_button:hover {
  background: #d4d4d4;
}

.add_button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ededed;
}


.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.login-wrapper{
    margin-top: 84px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.login-header{
    margin-top: 25px;
    width: 100%;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header-add{
    margin-top: -5rem;
    width: 100%;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header__text{
    padding-bottom: 5px;
    width: 300px;
    color: white;
    text-align: center;
    background: #33383b;
    border: 1px solid #40444a;
    border-radius: 20px;
    user-select: none;
    box-shadow: 0 0 3px black;
}


.login-content{
    padding-right: 4px;
    width: 100%;
    height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.form-group {
    margin-bottom: 1rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 80px;
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-10{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.form-control {
    display: block;
    width: 80%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.button-form{
    color: #fff;
    cursor: pointer;
    background-color: #33383b;
    border-color: #33383b;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    display: inline-block;
    padding: 0.375rem 2rem;
    line-height: 1.2;
    border-radius: 0.2rem;
}


.button-form:hover {
    background:#40444a;
}

.button-form:focus {
  outline: none;
  box-shadow: 0 0 0 0.5px #393e41;
}





.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search{
  height: 30px;
  width: 30px;
  border-style: none;
  font-size: 18px;
  outline: none;
  letter-spacing: 2px;
  border-radius: 15px;
  transition: all .05s;
  background-color: #33383B;
  padding-right: 40px;
  color:#fff;
}

.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search{
  width: 30px;
  height: 30px;
  border-style: none;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search{
  width: 270px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus{
  width: 270px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.search_count{
    color: #bababa;
}

.h1 search_request{
    color:#999;
}



 @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


.box{
   width: 430px;
   background: #fff;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.box .heading{
   background: #7800CF;
   border-radius: 7px 7px 0px 0px;
   padding: 10px;
   color: #fff;
   text-align: center;
   font-family: "Rubik";
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: "Rubik";
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}

details summary{
   outline: none;
}

.text{
   margin-top: 15px;
}

.btn-center{
    text-align:center;
    padding-top: 70px;
}
.show-more{
    color: #fff;
    background-color: #33383b;
    border-color: #33383b;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1.25rem;
    display: inline-block;
    padding: 0.375rem 7rem;
    line-height: 1.2;
    border-radius: 0.5rem;
    cursor: pointer;
}

.show-more:hover {
    background:#40444a;
}

.show-more:focus {
  outline: none;
  box-shadow: 0 0 0 0.5px #393e41;
}

.product-flex-item:nth-child(n+10){
  display:none;
}

.product-flex-item.is-visible{
  display:block;
}



/*||||||||||||||||||| slider ||||||||||||||*/


.slideshow-container{
  max-width: 800px;
  position: relative;
  margin: auto;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.15);
}

.dot{
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, dot:hover{
  background-color: #717171;
}

.fade{
 -webkit-animation-name:fade;
 -webkit-animation-duration:1.5s;
 -animation-name:fade;
 -animation-duration:1.5s;
}

@-webkit-keyframes fade{
  from{opacity:.4}
  to{opacity: 1}
}
@keyframes fade{
  from{opacity:.4}
  to{opacity: 1}
}

/*||||||||||||||||||| select box ||||||||||||||*/
.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;

  /*hide default down arrow in webkit */
  -webkit-appearance: none;
}

@-moz-document url-prefix(){
  .styled-select select { width: 110%; }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
}

 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

option{
  font-size: 15px;
}


/*||||||||||||||||||| shopping-cart ||||||||||||||*/


.cart-flex-item1{
  border-right:  1px solid #E1E8EE;
  text-align:center;
  flex: 1 0 32%;
  font-size: 1.2em;
  flex-grow: 6;
}

.cart-flex-item1 img{
  height:130px;
}

.cart-flex-item2{
  border-right:  1px solid #E1E8EE;
  text-align:center;
  flex: 1 0 32%;
  font-size: 1.2em;
  flex-grow: 1;
}

.h4-cart{
  margin-bottom: 25px;
  text-align: left;
}

.item {
  display: flex;
  border-top:  1px solid #E1E8EE;
}

.cart-icon{
  margin-right: 10px;
}

.cart-counter{
  font-size: 13px;
  background: #0f0368;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  border-radius: 1rem;
  position: absolute;
  margin-left: 12px;
}

.null{
    position: absolute;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

.description {
  padding-top: 10px;
  margin-right: 30px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  padding-left: 2px;
  color: #86939E;
}


.total {
  width: 200px;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
}

.buy-button{
  text-align: center;
  margin-top:10px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #0f0368;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.buy-button:hover {
  background: #173a87;
}

.buy-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.trash{
  width: 30px;
  height: 30px;
  padding: 8px 10px;
  border: 0;
    appearance: none;
  border-radius: 1rem;
  cursor: pointer;
}

select option:disabled {
    color: #dcdbdb;
}

/*||||||||||||||||||| profile ||||||||||||||*/

.profile-flex-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:row;
    padding: 0;
}

.profile-item1{
  width:10%;
  height: 30px;
  padding-top:4px;
  text-align:center;
  border: 1px solid #d0d0d0;
  border-radius: 15px 0 0 15px;
  background-color: #eff0f0;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.profile-item1:hover{
  color: #47afff;
}

.profile-item1-selected{
  width:10%;
  height: 30px;
  padding-top:4px;
  text-align:center;
  border: 1px solid #d0d0d0;
  border-radius: 13px 0 0 13px;
  color: white;
  background-color:#0f0368;
}


.profile-item2{
  width:10%;
  height: 30px;
  padding-top:4px;
  text-align:center;
  border: 1px solid #d0d0d0;
  border-radius: 0 13px 13px 0;
  background-color: #eff0f0;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.profile-item2:hover{
  color: #47afff;
}

.profile-item2-selected{
  width:10%;
  height: 30px;
  padding-top:4px;
  text-align:center;
  border: 1px solid #d0d0d0;
  border-radius: 0 13px 13px 0;
  color: white;
  background-color:#0f0368;
}

.logout{
  display: block;
  width:100px;
  height: 30px;
  padding-top:4px;
  text-align:center;
  border-radius: 4px;
  background-color: #ba2121;
  color: #fff;
}

.logout:hover{
  background-color:#c72323;
}

.logout:focus {
 box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.order{
  margin: 10px 0 10px 0;
}

.order-title{
  text-decoration: underline ;
}

.avatar{
  width: fit-content;
  position: relative;
}

.avatar-container{
  cursor: pointer;
  border-radius:50%;
  box-sizing:border-box;
  border: 1px solid #fff
  overflow: hidden;
  position: relative;
}

.avatar-img{
  border: 1px solid #c7c6c6;
  box-shadow: 4px 3px 7px #999999;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.avatar-size{
  width: 5rem;
  height: 5rem;
}

.text-field__label {
  display: block;
  margin-bottom: 0.25rem;
}

.text-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.gender-select {
  width: 100%;
  padding:10px;
  border-radius:10px;
}

.gender-select:focus {
 color: #212529;
 background-color: #fff;
 border-color: #bdbdbd;
 outline: 0;
 box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}



.input-file {
	position: relative;
	display: inline-block;
}

.input-file span {
    position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border: 1px solid #bdbdbd;
	border-radius: 0.55rem;
	background-color: #adadad;
	line-height: 22px;
    height: calc(2.25rem + 2px);
	padding: 8.5px 10px;
	box-sizing: border-box;
	border: none;
	margin-top: 1.35rem;
	margin-left: 1.35rem;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}


/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 3px;
}
.submenu {
  background: #33383B;
  position: absolute;
  top: 100%;
  z-index: 5;
  width: 150px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.form-login{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.form-login *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.form-login h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.label-login{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.input-login{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.input-login::placeholder{
    color: #e5e5e5;
}
.button-login{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}